<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fox.api.dao.quartz.mapper.QuartzJobParamMapper">
    <resultMap id="BasicResultMap" type="com.fox.api.dao.quartz.entity.QuartzJobParamEntity">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="job_id" property="jobId" jdbcType="INTEGER" />
        <result column="param_idx" property="paramIdx" jdbcType="VARCHAR" />
        <result column="param_type" property="paramType" jdbcType="VARCHAR" />
        <result column="param_value" property="paramValue" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="insert" parameterType="com.fox.api.dao.quartz.entity.QuartzJobParamEntity" keyColumn="id"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_quartz_job_param (
            job_id,
            param_idx,
            param_type,
            param_value,
            note
        )
        VALUES
            (
                #{jobId},
                #{paramIdx},
                #{paramType},
                #{paramValue},
                #{note}
            );
    </insert>

    <update id="update" parameterType="com.fox.api.dao.stock.entity.StockEntity">
        UPDATE t_quartz_job_param
        SET
            job_id = #{jobId},
            param_idx = #{paramIdx},
            param_type = #{paramType},
            param_value = #{paramValue},
            note = #{note}
        WHERE
            id = #{id};
    </update>

    <update id="delete" parameterType="INTEGER">
        UPDATE t_quartz_job_param
        SET
            is_deleted = 1
        WHERE
            id = #{id};
    </update>

    <select id="getById" resultMap="BasicResultMap">
        SELECT
            *
        FROM
            t_quartz_job_param
        WHERE
            id = #{id};
    </select>

    <select id="getByJobId" resultMap="BasicResultMap">
        SELECT
            *
        FROM
            t_quartz_job_param
        WHERE
            job_id = #{jobId}
            AND
            is_deleted = 0
        ORDER BY
         param_idx ASC,
         create_time ASC;
    </select>


</mapper>