<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fox.api.dao.stock.mapper.StockTableDtMapper">
    <resultMap id="BasicResultMap" type="com.fox.api.dao.stock.entity.StockTableDtEntity">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="table" property="table" jdbcType="INTEGER" />
        <result column="dt" property="dt" jdbcType="DATE" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="insert" parameterType="com.fox.api.dao.stock.entity.StockTableDtEntity" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_stock_table_dt (
            `table`,
            `dt`,
            `type`
        ) VALUES (
            #{table},
            #{dt},
            #{type}
        ) ON DUPLICATE KEY UPDATE `type` = #{type};
    </insert>

    <update id="update" parameterType="com.fox.api.dao.stock.entity.StockTableDtEntity">
        UPDATE
            t_stock_table_dt
        SET
            `table` = #{table},
            `dt` = #{dt},
            `type` = #{type}
        WHERE
            id = #{id}
    </update>

    <select id="getDtByType" resultType="String">
        SELECT
            dt
        FROM
            t_stock_table_dt
        WHERE
            `table` = #{table}
            AND
            `type` = #{type}
        ORDER BY
            dt ASC;
    </select>
</mapper>
