<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fox.api.dao.stock.mapper.StockPriceWeekMapper">
    <resultMap id="BasicResultMap" type="com.fox.api.dao.stock.entity.StockPriceWeekEntity">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="stock_id" property="stockId" jdbcType="INTEGER" />
        <result column="dt" property="dt" jdbcType="DATE" />
        <result column="fq_type" property="fqType" jdbcType="INTEGER" />
        <result column="open_price" property="openPrice" jdbcType="DECIMAL" />
        <result column="close_price" property="closePrice" jdbcType="DECIMAL" />
        <result column="highest_price" property="highestPrice" jdbcType="DECIMAL" />
        <result column="lowest_price" property="lowestPrice" jdbcType="DECIMAL" />
        <result column="pre_close_price" property="preClosePrice" jdbcType="DECIMAL" />
    </resultMap>

    <insert id="insert" parameterType="com.fox.api.dao.stock.entity.StockPriceWeekEntity" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_stock_price_week (
            stock_id,
            dt,
            fq_type,
            open_price,
            close_price,
            highest_price,
            lowest_price,
            pre_close_price
        ) VALUES (
            #{stockId},
            #{dt},
            #{fqType},
            #{openPrice},
            #{closePrice},
            #{highestPrice},
            #{lowestPrice},
            #{preClosePrice}
        );
    </insert>

    <update id="update" parameterType="com.fox.api.dao.stock.entity.StockPriceWeekEntity">
        UPDATE t_stock_price_week
        SET
            stock_id = #{stockId},
            dt = #{dt},
            fq_type = #{fqType},
            open_price = #{openPrice},
            close_price = #{closePrice},
            highest_price = #{highestPrice},
            lowest_price = #{lowestPrice},
            pre_close_price = #{preClosePrice}
        WHERE
            id = #{id}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_stock_price_week_shadow (
            stock_id,
            dt,
            fq_type,
            open_price,
            close_price,
            highest_price,
            lowest_price,
            pre_close_price
        )
        VALUES
        <foreach collection ="list" item="stockPriceWeekEntity" index= "index" separator =",">
            (
                #{stockPriceWeekEntity.stockId},
                #{stockPriceWeekEntity.dt},
                #{stockPriceWeekEntity.fqType},
                #{stockPriceWeekEntity.openPrice},
                #{stockPriceWeekEntity.closePrice},
                #{stockPriceWeekEntity.highestPrice},
                #{stockPriceWeekEntity.lowestPrice},
                #{stockPriceWeekEntity.preClosePrice}
            )
        </foreach >
    </insert>

    <update id="createShadow">
        CREATE TABLE IF NOT EXISTS t_stock_price_week_shadow LIKE t_stock_price_week;
    </update>

    <update id="shadowConvert">
        RENAME TABLE
            t_stock_price_week TO t_stock_price_week_temp,
            t_stock_price_week_shadow TO t_stock_price_week,
            t_stock_price_week_temp TO t_stock_price_week_shadow;
    </update>

    <update id="dropShadow">
        DROP TABLE IF EXISTS t_stock_price_week_shadow;
    </update>

    <select id="getByDate" resultMap="BasicResultMap">
        SELECT
            *
        FROM
            t_stock_price_week
        WHERE
            fq_type = #{fqType}
            AND
            stock_id = #{stockId}
            AND
            dt >= #{startDate}
            AND
            dt &lt;= #{endDate}
        ORDER BY
            dt ASC;
    </select>

    <select id="getBySignalDate" parameterType="com.fox.api.dao.stock.entity.StockPriceWeekEntity" resultMap="BasicResultMap">
        SELECT
            *
        FROM
            t_stock_price_week
        WHERE
            fq_type = #{fqType}
            AND
            stock_id = #{stockId}
            AND
            dt = #{dt}
        LIMIT 1;
    </select>

    <select id="getTotalByStock" resultMap="BasicResultMap">
        SELECT
            *
        FROM
            t_stock_price_week
        WHERE
            fq_type = #{fqType}
            AND
            stock_id = #{stockId};
    </select>

    <update id="optimize">
        OPTIMIZE TABLE t_stock_price_week;
    </update>
</mapper>
