<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fox.api.dao.stock.mapper.StockPriceMinuteDtMapper">
    <resultMap id="BasicResultMap" type="com.fox.api.dao.stock.entity.StockPriceMinuteDtEntity">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="dt" property="dt" jdbcType="DATE" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="insert" parameterType="com.fox.api.dao.stock.entity.StockPriceMinuteDtEntity" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_stock_price_minute_dt (
            dt,
            `type`
        ) VALUES (
            #{dt},
            #{type}
        );
    </insert>

    <update id="update" parameterType="com.fox.api.dao.stock.entity.StockPriceMinuteDtEntity">
        UPDATE t_stock_price_minute_dt
        SET
            dt = #{dt},
            `type` = #{type}
        WHERE
            id = #{id}
    </update>

    <select id="getByType" resultMap="BasicResultMap">
        SELECT
            *
        FROM
            t_stock_price_minute_dt
        WHERE
            `type` = #{type}
        ORDER BY
            dt ASC;
    </select>
</mapper>
